# Dependencias
node_modules/
package-lock.json

# Variables de entorno
.env
.env.local
.env.production

# Archivos de construcción
dist/
build/

# Logs
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos subidos por usuarios
backend/uploads/*
!backend/uploads/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo
